@using Microsoft.AspNetCore.Identity
@Model  JobTracker.Models.JobViewModels.JobDisplayViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{
    <div>
       <h2>LOOKE 4 SUM JOBZ SLAKUR! </h2>
    </div>

    @foreach (JobModel j in Model.Jobs)
    {
        <div>
            <h2>j.JobTitle</h2>

        </div>
    }
}
else
{
     <div>
            <h2>HAI, LOEG IN TO ADD SUM JOBZ</h2>
      </div>
}
